<div class="footer">
    <div class="foot">
        <a href="https://store.steampowered.com/about/">About Steam</a>
        <pre>|</pre>
        <a href="https://www.valvesoftware.com/en/about" target="_blank" rel="noopener noreferrer">About Valve</a>
        <pre>|</pre>
        <a href="https://partner.steamgames.com/" target="_blank" rel="noopener noreferrer">Steamworks</a>
        <pre>|</pre>
        <a href="https://www.valvesoftware.com/business/" target="_blank" rel="noopener noreferrer">Business Solutions</a>
        <pre>|</pre>
        <a href="https://www.valvesoftware.com/jobs.html" target="_blank" rel="noopener noreferrer">Jobs</a>
        <pre>|</pre>
        <a href="http://partner.steamgames.com/steamdirect" target="_blank" rel="noopener noreferrer">Steam Distribution</a>
        <pre>|</pre>
        <a href="https://store.steampowered.com/privacy_agreement/?snr=1_44_44_" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        <pre>|</pre>
        <a href="https://store.steampowered.com/digitalgiftcards/" target="_blank" rel="noopener noreferrer">Gift Cards</a>
        <pre>|</pre>
        <a href="https://web.facebook.com/Steam?_rdc=1&_rdr" target="_blank" rel="noopener noreferrer"><img src="https://cdn.iconscout.com/icon/free/png-64/facebook-262-721949.png" alt="" srcset="">Steam</a>
        <pre>|</pre>
        <a href="https://twitter.com/steam" target="_blank" rel="noopener noreferrer"><img src="https://cdn.iconscout.com/icon/free/png-64/twitter-2752046-2284863.png" alt="" srcset="">@steam</a>
    </div>
</div>
