.right{
    width: 63.4%;
    margin-top: 2%;
    margin-left: 17%;
    background-color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .show{
        .gametitle{
            padding: 1vw 0vw;
            display: flex;
            font-size: xx-large;
            color: whitesmoke;
        }

        .chatfriend{
            background-color: limegreen;
            color: whitesmoke;
            padding: 10px;
            margin: 10px;
            font-weight: bold;
            border-style: none;
            cursor: pointer;
        }

        .chatfriend:hover{
            background-color: whitesmoke;
            color: limegreen;
        }

        .activities{
            .act{
                padding: 20px;
                background-color: darkseagreen;
                margin: 10px 0;
                color: darkslategray;
            }
        }

        .self{
            display: flex;
            align-items: center;
            color: silver;
            background-color: darkseagreen;
            padding: 10px;
            width: 60%;

            img{
                width: 5vw;
                height: 5vw;
            }
            
            div{
                padding: 10px;
                background-color: inherit;

                p{
                    background-color: inherit;
                    color: whitesmoke;
                }
            }

            .level{
                background-color: inherit;
                p{
                    background-color: inherit;
                    font-size: larger;
                    color:whitesmoke
                }

                button{
                    background-color: green;
                    color: whitesmoke;
                    padding: 10px;
                    border-style: none;
                    margin: 10px;
                    margin-left: 0;

                    cursor: pointer;
                }

                button:hover{
                    background-color: whitesmoke;
                    color: green;
                    padding: 10px;
                }
            }
        }

        .find{
            color: forestgreen;
            font-weight: bolder;
            text-decoration: none;
            font-size: 20px;
        }

        .mygames, .myfriends, .mycomments{
            background-color: darkseagreen;
            padding: 10px;
            width: 60%;

            div{
                background-color: inherit;
            }

            .comment{
                background-color: inherit;
                display: flex;
                align-items: center;

                img{
                    width: 5vw;
                    height: 10vh;
                }

                div{
                    padding-left: 10px;
                    background-color: inherit;

                    p{
                        color: whitesmoke;
                        background-color: inherit;
                    }
                }
            }

            .game{
                display: flex;
                background-color: darkseagreen;
                color: whitesmoke;
                padding: 10px;
                align-items: center;
                margin: 5px;

                img{
                    width: 12vw;
                    height: 15vh;
                }

                p{
                    background-color: inherit;
                    padding: 10px;
                }
            }

            .friend, .friendprofile{
                display: flex;
                background-color: inherit;

                img{
                    width: 5vw;
                    height: 10vh;
                }

                div{
                    padding-left: 10px;
                    background-color: inherit;
                    p{
                        color: whitesmoke;
                        background-color: darkseagreen;
                    }
                }

                .friendprofile{
                    display: none;
                }

                .reportuser{
                    cursor: pointer;
                    background-color: maroon;
                    color: lightpink;
                    padding: 10px;
                    font-weight: bolder;
                    // width: 5vw;
                    // height: 3vw;
                    margin-left: 20px;
                    border-style: none;
                }
            }
        }

        .myfriends{
            width: 30%;

            .friend:hover{
                .friendprofile{
                    padding: 10px;
                    display: flex;
                    position: absolute;
                    left: 103px;
                }
            }

        }

    }
}

.center {
    margin: 5%;
  }
  
  .pagination {
    text-align: center;
  display: flex;
  justify-content: center;
}

.pagination button {
    cursor: pointer;
  float: left;
  padding: 8px 16px;
  font-size: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  color: white;
  background-color: darkcyan;
  border-style: none;
}

.pagination button:hover{
    background-color: turquoise;
    border-style: none;
}


.reportmodal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;

    .modal-content{
        background-color: teal;
        margin: auto;
        padding: 20px;
        color: silver;
        border: 1px solid #888;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center ;
        div{
            background-color: inherit;

            p{
                background-color: inherit;
            }

            button{
                margin: 10px;
                padding: 10px;
                background-color: maroon;
                color: pink;
                cursor: pointer;
                border-style: none;
            }
        }
    }
}