.header{
    top: 0;
    width: 100%;
    height: 14vh;
    background-color: rgb(37, 57, 55);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    display: flex;
}

.head img{
    width: 13vw;   
    background-color: rgb(37, 57, 55);
}

.head a, .head{
    display: flex;
    background-color: rgb(37, 57, 55);
    align-items: center;
}

.head{
    width: 75%;
}

.nav{
    margin-left: 4%;
}

.nav ul{
    background-color: rgb(37, 57, 55);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.nav li{
    background-color: rgb(37, 57, 55);
    padding: 6px;
    float: left;
    color: lightgray;
    font-weight: bolder;
    cursor: pointer;
}

.nav li:hover, li a:hover, .log a:hover, .lang:hover{
    color: white;
}

li a{
    color: lightgray;
    text-decoration: none;
}

.dropdown-content{
    position: absolute;
    display: none;
    z-index: 1;
    min-width: 8vw;
    background-color: rgb(37, 57, 55);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
    // float: none;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: small;
    font-weight: normal;
}

.dropdown:hover .dropdown-content{
    display: block;
    // position: absolute;
}

.log{
    justify-content: flex-end;
    width: 40%;
    height: 11vh;
    background-color: rgb(37, 57, 55);
    
}

.in, .lang{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: rgb(37, 57, 55);
}

.balance{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: lightgray;
    margin-left: 40%;
    font-size: small;
    font-style: bolder;
}

.balance, .balance .out{
    background-color: rgb(37, 57, 55);
}

.log a, .lang{
    text-decoration: none;
    color: lightgray;
    font-size: smaller;
}

.log pre{
    background-color: rgb(37, 57, 55);
    font-size: large;
    color: lightgray;
}

.dropdown {
    position: relative;
    background-color: rgb(37, 57, 55);
    // display: inline-block;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
      cursor: pointer;
    color: white;
    background-color: slategray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
      color: black;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: red;
  }
  
  .dropdown:hover .dropbtn a{
    // background-color: #3e8e41;
    background-color: rgb(37, 57, 55);
    // background-color: red;
  }

  .dropbtn {
    // background-color: #4CAF50;
    color: lightgrey;
    // padding: 16px;
    // font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgb(37, 57, 55);
  }
  
.userpic{
    margin: 0vh 1vh;
    background-color: rgb(37, 57, 55);
}

.usernopic{
    text-align: center;
    margin: 0vh 1vh;
    width: 2.5vw;
    height: 2.5vw;
    background-color: darkslategray;
}

  .userpic img{
      width: 2.5vw;
      height: 2.5vw;
      background-color: rgb(37, 57, 55);
  }

.notif img{
    margin-left: 1vh;
    margin-right: 0.2vh;
    width: 1.3vw;
    height: 1.3vw;
    filter: brightness();
    background-color: rgb(92, 126, 16);
}

.checklogin{
    display: flex;
    color: lightgrey;
    background-color: rgb(37, 57, 55);
    font-size: small;
    align-items: center;
}

.checklogin .notif{
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: bold;
    background-color: rgb(92, 126, 16);
    padding: 0.5vh 0.7vh;
    margin: 1vh;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    .header{
        width: 125%;
        .head{
            width: 70%;
            .nav{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .header{
        width: 165%;
        .head{
            width: 90%;
            a{
                img{
                    width: 40vw;
                }
            }
            .nav{
                width: 100%;
            }
        }
    }
}