<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<div class="header">
    <div class="head">
        <a href="/adminpage">
            <img src="https://store.cloudflare.steamstatic.com/public/shared/images/responsive/header_logo.png" alt="" srcset="">
        </a>
        <div class="log">
            <div class="in">
                <div class="dropdown">
                    <button class="dropbtn" a>Admin</button>
                    <div class="dropdown-content">
                        <a (click)="logout()">Log Out</a>
                    </div>
                </div>
                <pre> | </pre>
                <div class="lang">
                    language
                </div>
            </div>
        </div>
    </div>
</div>
<body>
    <div class="buttongroup">
        <button type="submit" (click)="managegame()">Manage Game</button>
        <button type="submit" (click)="managepromo()">Manage Promo</button>
        <button type="submit" (click)="manageuser()">Manage User</button>
    </div>
</body>
</html>