.left{
    width: 15%;
    margin-left: 3%;
    margin-top: 3%;
}

.right{
    width: 63.4vw;
    margin-top: 2%;
    margin-left: 17%;
    background-color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right .cart2{
    background-color: green;
    width: 5vw;
    text-align: center;
    padding: 3px;
    color: lightgrey;
    margin-bottom: 5px;
    justify-content: right;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    background-color: teal;
}

.navbar a {
    font-size: 16px;
    float: left;
    color: white;
    background-color: teal;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
}

.navbar a, .navbar .dropdown{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 10px 18px;
    background-color: teal;
    font-family: inherit;
    margin: 0;
    font-size: 16px;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightgray;
    color: black;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 8vw;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: lightgray;
}
  
.dropdown-content a:hover {
    background-color: lightgray;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content hr{
    background-color: whitesmoke;
}

.navbar .search-container{
    float: right;
    background-color: teal;
}

.navbar form{
    background-color: red;
}

.navbar input[type=text]{
    padding: 6px;
    margin-top: 7px;
    background-color: whitesmoke;
    border-style: none;
}


.navbar .search-container button{
    float: right;
    padding: 2.3px 6px;
    margin-top: 7px;
    margin-right: 16px;
    border-style: none;
    background-color: lightslategray;
    cursor: pointer;
}

.navbar .search-container button img{
    width: 1.2vw;
    background-color: lightslategrey;
}

.down {
    position: absolute;
    display: inline-block;
    float:right;
    margin-left: 16.5%;
    background-color: lightgrey;
}
  
.content {
    padding: 1vh;
    display: block;
    position: absolute;
    right: 1vw;
    width: 25vw;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: lightgrey;
}

.content .miaw{
    position: relative;
    display: flex;
    background-color: lightgrey;
    padding: 1vh;
    cursor: pointer;
}

.content img{
    width: 10vw;
    height: 10vh;
}

.miaw p, .searchdesc{
    background-color: inherit;
    padding: 0.5vh;
    font-size: medium;
}

.down .content .miaw:hover{
    background-color: darkslategray;
    color: white;
}

.down .content .miaw:hover .down .content .miaw .searchdesc{
    background-color: lightseagreen;
}

.miaw .searchdesc .bolder{
    font-size: large;
}

/* Style the list */
ul.breadcrumb {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 3%;
    list-style: none;
    color: lightgrey;
    background-color: inherit;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: grey;
    content: ">";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: grey;
    font-size: smaller;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: whitesmoke;
  }

  .down{
      background-color: red;
  }

.gametitle{
    font-size: xx-large;
    color: whitesmoke;
}

.notshow{
    border-style: ridge;
    border-color: silver;
    border-width: thin;
    border-radius: 10px;
    padding: 10px;
    width: 65vw;
    // display: flex;
}

.notshow div{
    width: 65vw;
    display: flex;
    justify-content: center;
    font-size: 23px;
    align-items: center;
    color: white;
}

.notshow div img{
    width: 30vw;
}

.notshow .inapp{
    text-align: center;
}

.notshow .formenter{
    color: silver;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notshow .formenter input{
    border-style: none;
    font-size: 18px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.336);
    // margin: auto;
    color: white;
    padding: 5px;        
}

.notshow .formenter button{
    padding: 8px;
    font-size: 15px;
    margin: 10px;
    margin-left: 0px;
    transition-duration: 0.4s;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 3px;
    border-color: rgb(37, 57, 55);
}

.notshow .formenter button:hover {
    background-color: rgb(37, 57, 55); /* Green */
    color: white;
}
.right .show .slider{
    width: 44vw;
    overflow: hidden;
}

.right .show .slides{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    scroll-behavior: smooth;
}

.right .show .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.right .show .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.right .show .slides::-webkit-scrollbar-track {
    background: transparent;
}

.right .show .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0; 
    margin-right: 10px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
  
.right .show  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}
  .right .show .slider > a:active {
    top: 1px;
  }
  .right .show .slider > a:focus {
    background: #000;
  }

.right .show .slider .slides img{
    width: 10vw;
    height: 6vw;
}

.right .show .slider .slides video{
    width: 10vw;
    height: 6vw;
}

.right .show .slider .slides button{
    cursor: pointer;
    border-style: none;
}

.right .show .mainslide img{
    width: 44vw;
    height: 25vw;
}

.right .show .mainslide video{
    width: 44vw;
    height: 25vw;
}

.right .show .gamedetail{
    padding: 1vw 0vw;
    display: flex;
}

.right .show .desc img{
    width: 17vw;
}

.right .show .desc{
    padding: 0vw 2vw;
    color: whitesmoke;
}

.right .show .dev{
    padding: 1vw 0vw;
    color: lightseagreen;
}

.right .show .purchase{
    font-size: 35px;
    color: whitesmoke;
    width: 95%;
    height: 3vw;
    padding: 2vw;
    background-color: silver;
}

.right .show .purchase .cart{
    float: right;
    font-size: 20px;
    background-color: black;
    align-items: center;
}

.right .show .purchase .cart span{
    background-color: limegreen;
    padding: 1vw;
    border-color: black;
    border-style: groove;
}

.right .show .sysreq{
    margin-top: 4vw;
    color: whitesmoke;
    font-size: larger
}

.show{
    .review{
        .insertreview{
            margin-top: 30px;
            width: 40vw;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding: 10px;
            background-color: teal;
            border-radius: 4px;
            color: lightgrey;

            .grid-container{
                display: grid;
                grid-template-columns: auto;
                grid-gap: 10px;
                background-color: inherit;
    
                div{
                    background-color: inherit;
                }

                input{
                    margin: 5px 0px;
                    padding: 6px 8px;
                    font-size: 16px;
                    border-style: solid;
                    background-color: rgb(1, 63, 63);
                    color: silver;
                }

    
            }
            button{
                padding: 8px 16px;
                background-color: forestgreen;
                color: lightgrey;
                border-style: none;
                font-size: large;
                cursor: pointer;
            }

            button:hover{
                background-color: lightgrey;
                color: forestgreen;
            }
        }

        .helpfulreview, .recentreview{
            margin-top: 20px;
            background-color: teal;
            color: silver;
            padding: 10px;

            .reviews{
                background-color: steelblue;
                padding: 10px;
                
                span{
                    background-color: inherit;
                }

                button{
                    float: right;
                    background-color: lawngreen;
                    color: black;
                    padding: 5px;
                    border-style: none;
                    margin-right: 5px;
                    cursor: pointer;
                }
                button:hover{
                    background-color: black;
                    color: lawngreen;
                }

            }

        }

    }

}

mgl-map {
    margin: 10px;
    height: 500px;
    width: 100%;
}